:root{
  --main-color: #10CAB7;
  --second-color: #f6f6f6;
  --bolder-color:#EBECED;
  --paragraph:#545454;
  --footer-color:#2C4755;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Work Sans', sans-serif;
  
}
p{
  color:var(--paragraph);
  line-height: 1.7;

}

